<div class="container-edit">
  <form name="addOrEditForm" novalidate>
    <p ng-show="showHelp" ng-cloak>All fields are required!</p>
    <input type="text" name="firstName" value="" placeholder="First Name" ng-model="firstName"
      ng-class="{'has-error': !addOrEditForm.firstName.$pristine && !firstName.length}" required>
    <input type="text" name="secondName" value="" placeholder="Second Name" ng-model="secondName"
      ng-class="{'has-error': !addOrEditForm.secondName.$pristine && !secondName.length}" required>
    <input type="text" name="position" value="" placeholder="Position" ng-model="position"
      ng-class="{'has-error': !addOrEditForm.position.$pristine && !position.length}" required>
    <button ng-click="saveOrEdit(firstName, secondName, position)" type="button" name="save">Save</button>
    <button ng-click="applyFilter(firstName, secondName, position); tableFactory.getTable(true)" type="button" name="filter">Filter</button>
    <button ng-click="clearFilter(); tableFactory.getTable(true)" ng-show="tableFactory.isFilterSet" type="button" name="clear_filter">Clear Filter</button>
  </form>
</div>


<div class="container-table" infinite-scroll="tableFactory.getTable()" infinite-scroll-disabled='tableFactory.busyLoadingData' >
  <table>
    <thead>
      <th></th>
      <th ng-click="sortType = 'firstName'; setReverse()">
        First Name
        <span ng-show="sortType == 'firstName' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'firstName' && sortReverse" class="fa fa-caret-up"></span>
      </th>
      <th ng-click="sortType = 'secondName'; setReverse()">
        Second Name
        <span ng-show="sortType == 'secondName' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'secondName' && sortReverse" class="fa fa-caret-up"></span>
      </th>
      <th ng-click="sortType = 'position'; setReverse()">
        Position
        <span ng-show="sortType == 'position' && !sortReverse" class="fa fa-caret-down"></span>
        <span ng-show="sortType == 'position' && sortReverse" class="fa fa-caret-up"></span>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="i in tableFactory.employList | orderBy:sortType:sortReverse">
        <td><input type="checkbox" name="" value="" ng-click="isChecked(i.id)"></td>
        <td>{{i.firstName}}</td>
        <td>{{i.secondName}}</td>
        <td>{{i.position}}</td>
      </tr>
    </tbody>
  </table>

  <button ng-click="delete()" type="button" name="delete">Delete</button>
  <br><br><br><br><br>



</div>
