html, body {
  margin: 0;
  padding: 0;
}

.has-error input {
  background-color: #ffd4cc;
  border: 2px solid #ff1e1e;
}

.has-error label, .has-error p {
  color: #ff1e1e;
}

.container-auth {
  display: block;
  width: 25%;
  margin: auto;
  border: 3px solid #a8a8a8;
  border-radius: 10px;
  margin-top: 5%;
}

.container-auth h3 {
  text-align: center;
}

.container-auth input {
  width: 95%;
  margin-left: 2%;
  margin-top: 2%;
  height: 20px;
  border-radius: 5px;
}

.container-auth .form-group {
  margin-bottom: 7%;
}

.container-auth label {
  font-weight: bold;
  margin-left: 2%;
}

.container-auth p {
  margin-left: 2%;
}


.container-auth p[ng-show='isNotExist'] {
  color: #ff1e1e;
}

.container-auth button {
  display: block;
  width: 60%;
  margin: auto;
  margin-bottom: 5%;
  height: 35px;
  font-size: 1.3em;
  border-radius: 4px;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  color: #fff;
  cursor: pointer;
}

.container-auth button:hover {
    color: #f1f1f1;
    background-color: #007a24;
}


.container-table {
  margin: auto;
  width: 60%;
}

.container-table table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-top: 10%;
}

.container-table td, .container-table th {
  border: 1px solid #000;
  padding: 3px;
}

.container-table tr:nth-child(2n+2) {
  background-color: #e8f0ff;
}

.container-table th {
  background-color: #c9c9c9;
}

.container-table button {
  float: right;
  margin-top: 3%;
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.container-table button:hover {
  color: #f1f1f1;
  background-color: #cc0202;
}

.container-edit {
  margin: auto;
  width: 60%;
  text-align: right;
  margin-top: 2%;
}

.container-edit input {
  margin-left: 2%;
  height: 20px;
  border-radius: 5px;
  width: 30%;
}

.container-edit button[name="save"] {
  display: block;
  width: 20%;
  margin-top: 3%;
  height: 30px;
  font-size: 1.1em;
  border-radius: 4px;
  background-color: #5cb85c;
  border: 1px solid #4cae4c;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-bottom: 6%;
}

.container-edit button[name="save"]:hover {
    color: #f1f1f1;
    background-color: #007a24;
}

.container-edit button[name="filter"] {
  display: block;
  width: 20%;
  height: 30px;
  font-size: 1.1em;
  border-radius: 4px;
  background-color: #649cfc;
  border: 1px solid #2e6da4;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-bottom: 3%;
  clear: right;
}

.container-edit button[name="filter"]:hover {
  color: #f1f1f1;
  background-color: #327cfc;
}

.container-edit button[name="clear_filter"] {
  display: block;
  width: 20%;
  height: 30px;
  font-size: 1.1em;
  border-radius: 4px;
  background-color: #f0ad4e;
  border: 1px solid #eea236;
  color: #fff;
  cursor: pointer;
  float: right;
  margin-bottom: 3%;
  margin-right: 3%;
}

.container-edit button[name="clear_filter"]:hover {
  color: #f1f1f1;
  background-color: #ff6f0f;
}

.container-edit p {
  color: #ff1e1e;
}

.container-edit .has-error {
  background-color: #ffd4cc;
  border: 2px solid #ff1e1e;
}

.container-table th {
  cursor: pointer;
}


@media screen and (max-width: 1120px) and (min-width: 900px) {
  .container-auth {
    width: 30%;
  }

  .container-edit, .container-table {
    width: 70%;
  }
}

@media screen and (max-width: 900px) and (min-width: 700px) {
  .container-auth {
    width: 40%;
  }

  .container-edit, .container-table {
    width: 80%;
  }
}

@media screen and (max-width: 700px) and (min-width: 500px) {
  .container-auth {
    width: 50%;
  }

  .container-edit, .container-table {
    width: 95%;
  }

  .container-edit input {
    width: 29%;
  }
}

@media screen and (max-width: 500px) {
  .container-auth {
    width: 90%;
  }

  .container-edit, .container-table {
    width: 95%;
  }

  .container-edit input {
    float: left;
    width: 60%;
    clear: left;
    margin-bottom: 5%;
  }

  .container-edit button[name="save"], .container-edit button[name="filter"] {
    float: left;
    clear: left;
    width: 60%;
    margin-left: 2%;
    margin-bottom: 5%;
  }
}
